<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOF7etXDbBdbPW7911sEOYPl_jBBsCkbI</string>
	<key>GCM_SENDER_ID</key>
	<string>1030990867073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.top.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>top-app-e6b9d</string>
	<key>STORAGE_BUCKET</key>
	<string>top-app-e6b9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030990867073:ios:0b01c5fffaced75605fb80</string>
</dict>
</plist>